$margin-default: 10px;

.power-indicator {
  button:focus {
    background-color: transparent;
  }
  .on {
    color: forestgreen;
  }

  .off {
    color: orangered;
  }
  margin: $margin-default 0;
}

.input-selector{
  margin: $margin-default 0;
}