$margin-default: 10px;

.power-indicator {
  button:focus {
    background-color: transparent;
  }
  .on {
    color: forestgreen;
  }

  .off {
    color: orangered;
  }
}
.power-indicators > div {
  margin: $margin-default 10px $margin-default 0;
  display: inline-block;

  > .name {
    margin-top:5px;
    text-align: center;
    font-size: 0.7em;
  }
}

.input-selector{
  margin: $margin-default 0;
}